* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

:root {
  /* --main-bg-color: black; */
}

html {
  /* width: 100%; */
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  overflow: hidden;
}

/* HEADER */
.custom-header {
  background-color: black;
  height: 15vh;
}

/* MAIN CONTAINER */
.main-container {
  height: 85vh;
}

/* INPUT & SEARCH BOX */
.custom-input-text {
  text-transform: uppercase;
}

.custom-search-history {
  height: 350px;
}

.custom-btn {
  border-radius: none;
}

.custom-btn:focus,
.custom-btn:hover {
  background-color: #007bfe;
}

/* WEATHER CARDS - 5 DAY FORECAST */
.custom-weather-card,
.custom-header {
  background-color: black;
}

.custom-header {
  height: 15vh;
}

/* SPINNER */
.spinner {
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

/* HIDE SHOW */
.hide {
  display: none;
}

.show {
  display: block;
}

/* JQUERY AUTOCOMPLETE CSS */
.ui-autocomplete {
  max-width: 300px;
  height: 400px;
  background-color: white;
  font-size: 24px;
  border: 1px solid black;
  overflow-y: scroll;
}

.ui-autocomplete li:hover {
  color: blue;
  background-color: yellow;
}

/* .ui-helper-hidden-accessible {
  display: none !important;
} */


/* ---------- MOBILE RESPONSIVE ---------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* ---- HOVER STYLES ---- */
/* Override the hover effect for devices that don't support hover */
@media (hover: none) {
  /* add style properties */
  /* .class:hover {
    color: red:
  } */
}

/* LARGE SCREEN SIZE */
@media screen and (min-width: 1600px) {
}

/* LARGE SCREENS / TABLETS */
@media screen and (max-width: 992px) {
  html {
    overflow: scroll;
  }
  .custom-search-history {
    height: 150px;
  }
}

/* MEDIUM SCREEN SIZE - LARGE SMARTPHONES*/
@media screen and (max-width: 768px) {
}

/* SMALL SCREEN SIZE */
@media screen and (max-width: 650px) {
}

/* SMALL SMARTPHONES */
@media screen and (max-width: 576px) {
}
