* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

:root {
  /* --main-bg-color: black; */
}

html {
  /* width: 100%; */
  /* font-family: "Times New Roman", Times, serif; */
  cursor: default;
}

.custom-input-text {
  text-transform: uppercase;
}

.custom-history {
  height: 400px;
}

.custom-btn:focus, 
.custom-btn:hover {
  background-color: #007bfe;
}

.ui-autocomplete {
  background-color: white;
  border: 1px solid black;
}

.custom-weather-card {
  background-color: black;
}

.custom-uvindex-low {

}

.custom-uvindex-moderate {
  
}

.custom-uvindex-high {
  
}

.custom-uvindex-veryhigh {
  
}

.custom-uvindex-extreme {
  
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* ---- HOVER STYLES ---- */
/* Override the hover effect for devices that don't support hover */
@media (hover: none) {
  /* add style properties */
  /* .class:hover {
    color: red:
  } */
}

/* LARGE SCREEN SIZE */
@media screen and (min-width: 1600px) {
}

/* LARGE SCREENS / TABLETS */
@media screen and (max-width: 992px) {
  .custom-history {
    height: 150px;
  }
}

/* MEDIUM SCREEN SIZE - LARGE SMARTPHONES*/
@media screen and (max-width: 768px) {
}

/* SMALL SCREEN SIZE */
@media screen and (max-width: 650px) {
}

/* SMALL SMARTPHONES */
@media screen and (max-width: 576px) {
}
