* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

:root {
  /* --main-bg-color: black; */
}

html {
  /* width: 100%; */
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

.custom-input-text {
  text-transform: uppercase;
}

.custom-search-history {
  height: 400px;
}

.custom-btn {
  border-radius: none;
}

.custom-btn:focus, 
.custom-btn:hover {
  background-color: #007bfe;
}

.custom-weather-card {
  background-color: black;
}

/* JQUERY AUTOCOMPLETE CSS */
.ui-autocomplete {
  width: 100px;
  background-color: white;
  font-size: 24px;
  border: 1px solid black;
}

.ui-autocomplete li:hover {
  color: blue;
  background-color: yellow;
}

.ui-helper-hidden-accessible{
  display:none !important;
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* ---- HOVER STYLES ---- */
/* Override the hover effect for devices that don't support hover */
@media (hover: none) {
  /* add style properties */
  /* .class:hover {
    color: red:
  } */
}

/* LARGE SCREEN SIZE */
@media screen and (min-width: 1600px) {
}

/* LARGE SCREENS / TABLETS */
@media screen and (max-width: 992px) {
  .custom-search-history {
    height: 150px;
  }
}

/* MEDIUM SCREEN SIZE - LARGE SMARTPHONES*/
@media screen and (max-width: 768px) {
}

/* SMALL SCREEN SIZE */
@media screen and (max-width: 650px) {
}

/* SMALL SMARTPHONES */
@media screen and (max-width: 576px) {
}
